<div class="full-page spectrum-background">
    <div class="center-page">
        <div *ngIf="!deckNameEntered">
            <label for="deck-name"><h4>What's the name of your game?</h4></label>
            <input class="form-control" [(ngModel)]="deckName" type="text" id="deck-name" name="deckName">
            <button type="button" class="btn btn-dark" [disabled]="!deckName" (click)="enter()">Enter</button>
        </div>
        <div *ngIf="deckNameEntered && !roundLengthEntered">
            <label for="round-length"><h4>How many seconds should each round last?</h4></label>
            <input class="form-control" [(ngModel)]="roundLength" type="number" id="round-length" name="roundLength">
            <button type="button" class="btn btn-dark" [disabled]="!(roundLength > 0)" (click)="enter()">Enter</button>
        </div>
        <div *ngIf="deckNameEntered && roundLengthEntered">
            <label for="card"><h4>Add a card to your game:</h4></label>
            <div class="input-group mb-3">
                <input class="form-control" [(ngModel)]="card" (input)="repeatCard = false" type="text" id="card" name="card">
                <span class="input-group-text">{{ cards.length }}</span>
            </div>
            <p *ngIf="repeatCard">You've already added a <strong>{{ card }}</strong> card!</p>
            <button type="button" class="btn btn-light" [disabled]="!card" (click)="add()">Add</button>
            <button type="button" class="btn btn-dark" [disabled]="cards.length === 0" (click)="finish()">Finish</button>
        </div>
    </div>
</div>
