.fill {
    background: white;
    position: absolute;
    inset: 0px;
}

.landscape {
    @media only screen and (orientation:portrait) {
        height: 100vw;
        transform: rotate(90deg);
    }
}
