.big-font {
    font-size: 4vh;
}

.bigger-font {
    font-size: 15vh;
}

.correct {
    color: white;
    background: #3c8a32;
    height: 100%;
    width: 100%;
}

.skip {
    color: white;
    background: #bfba2e;
    height: 100%;
    width: 100%;
}

.left-option {
    width: 50%;
    height: 100vh;
    float: left;
}

.right-option {
    margin-left: 50%;
    height: 100vh;
}

.left-label {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.right-label {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(10%, -50%);
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.clickable {
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.landscape {
    @media only screen and (orientation:portrait) {
        transform: rotate(90deg);
        transform-origin:bottom left;
        position:absolute;
        top:-100vw;
        height:100vw;
        width:100vh;
    }
}
